<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target name="fileByDate" xsi:type="File"
            layout="${longdate} ${level} ${message}${exception:format=ToString}"
            fileName="${basedir}/logs/log-${shortdate}.txt"
            keepFileOpen="true"
            encoding="utf-8" />
    <target name="console" xsi:type="Console"  layout="${logger} ${callsite} ${level} ${message}"/>
  </targets>
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="console" />
    
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    
    <logger name="*" minlevel="Trace" writeTo="fileByDate" />
    

  </rules>
</nlog>