.App {
  text-align: center;
}

.disclaimer {
  font-size: medium;
  font-style: italic;
  color: darkslategray;
}
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  color: white;
  padding:10px;
}
